:root {
    --black-color: #0b0b0b;
    --white-color: #ffffff;
}

body {
    font-size: 12px; /* font-size 1em = 10px on default browser settings */
}

@media (max-width: 767px) {
    body {
        font-size: 10px;
    }
}

.center-section {
    position: relative;
    width: 1100px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

@media (max-width: 767px) {
    .center-section {
        padding: 0 1.5em;
        width: auto;
    }
}

.center-section--description {
    margin-top: 2em;
}

.center-section--events {
    margin-top: 0em;
}

@media (max-width: 767px) {
    .center-section--events {
        margin-top: 0em;
    }
}

.center-section--partners {
    --tw-ring-color: transparent;
}

.center-section--partners .partner-link:hover {
    color: white;
}

.center-section--email {
    margin-top: 8em;
    margin-bottom: 12em;
}

@media (max-width: 767px) {
    .center-section--email {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

.community-mail {
    font-family: 'FuturaBookC', sans-serif;
    font-weight: bold;
    font-size: 8em;
    color: var(--black-color);
    text-decoration: none;
    position: relative;
}

.community-mail:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 4px;
    background: var(--black-color);
}

@media (max-width: 767px) {
    .community-mail {
        font-size: 4em;
    }
}

.center-section--footer {
    margin: 8em auto 6em;
}

.heading-h1 {
    font-family: 'FuturaMediumC', sans-serif;
    font-size: 6em;
    color: var(--black-color);
}

.heading-h2 {
    font-family: 'FuturaBookC', sans-serif;
    font-size: 3em;
    margin: 0.5em 0;
    color: var(--black-color);
}

.heading-h3 {
    font-family: 'FuturaMediumC', sans-serif;
    font-size: 2em;
    margin: 1em 0 0.5em;
    padding: 0.5em;
    color: var(--white-color);
    background: var(--black-color);
}

.heading-h4 {
    font-family: 'FuturaBookC', sans-serif;
    font-size: 1.75em;
    margin: 0.5em 0;
    color: var(--black-color);
}

.heading-description {
    max-width: 80%;
}

.header {
    margin-top: 6em;
}

@media (max-width: 767px) {
    .header {
        margin-top: 3em;
    }
}

.events-list {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style-type: none;
}

.events-list + .heading-h3 {
    margin-top: 1em;
}

.header__title .header__title-link {
    color: #000000;
    text-decoration: none;
}

@media (max-width: 767px) {
    .events-list + .heading-h3 {
        margin-top: 2em;
    }
}

.events-list--upcoming {
}

.events-list__item + .events-list__item {
    margin-top: 1.8em;
}

@media (max-width: 767px) {
    .events-list__item + .events-list__item {
        margin-top: 2em;
    }
}

@media (max-width: 767px) {
    .events-list__item {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: calc(100vw - 5em);
    }
}

.events-list__item--upcoming {
    font-weight: 800;
}

.events-list__item--hidden {
    display: none;
}

.event-list__item-button {
    text-align: center;
    text-decoration: none;
}

.events-list__item-vkpost {
    margin-top: 2.8em;
    margin-bottom: 2.8em;
}

.events-list__link {
    font-family: 'FuturaLightC', sans-serif;
    font-size: 1.8em;
    margin: 0.5em 0;
    color: var(--black-color);
    text-decoration: none;
    position: relative;
}

.events-list__link:hover {
    color: var(--white-color);
    transition: color .2s ease-out;
}

@media (max-width: 767px) {
    .events-list__link {
        /* text-decoration: underline; */
    }
}

.events-list__link:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: calc(100% + 0.25em);
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--black-color);
}

.events-list__link:hover:after {
    top: -0.25em;
    left: -0.25em;
    height: calc(100% + 0.5em);
    width: calc(100% + 0.5em);
    transition: height .3s ease-out;
}

.description__link {
    text-decoration: underline;
}

.description__link:hover {
    text-decoration: none;
    background: black;
    color: white;
}

.logo {
    height: 6em;
}

.logo--main {
    height: 12em;
    position: absolute;
    right: 0;
    top: 6.4em;
    margin-right: 1em;
}

@media (max-width: 767px) {
    .logo--main {
        height: 6em;
        top: 5em;
        right: 3em;
    }
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .footer {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 2em;
    }
}

.socials {
    width: 100%;
    display: flex;
    align-items: center;

    margin-top: 1em;
}

@media (min-width: 767px) {
    .socials > * + * {
        margin-left: 1.5em;
    }
}

@media (max-width: 767px) {
    .socials {
        flex-wrap: wrap;
    }
}

.footer__separator {
    flex: 1;
}

@media (max-width: 767px) {
    .footer__separator {
        display: none;
    }
}

.social-icon {
    height: 3em;
    transition: opacity .2s;
}

@media (min-width: 767px) {
    .social-icon:hover {
        opacity: 0.6;
    }
}

@media (max-width: 767px) {
    .social-icon {
        height: 6em;
        margin: 2em 2em 0 0;
    }
}

.footer__link {
    font-family: 'FuturaLightC', sans-serif;
    font-size: 1.5em;
    color: var(--black-color);
    text-decoration: none;
    position: relative;
    opacity: 0.5;
}

.footer__link + .footer__link {
    margin-left: 1em;
}

.footer__link:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--black-color);
}

.footer__links {
    display: contents;
}

@media (max-width: 767px) {
    .footer__links {
        display: flex;
    }
}

.all-events__container {
    margin-top: 5em;
}

.footer__copyright {
    font-family: 'FuturaLightC', sans-serif;
    font-size: 1.5em;
    color: var(--black-color);
    text-decoration: none;
    position: relative;
    opacity: 0.5;
}
