<!--[if lt IE 9]>
  <script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>
  <![endif]-->
  <!--[if (gte IE 9) | (!IE)]><!-->
  <script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
  <!--<![endif]-->

  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.appear.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.plugin.js"></script>
  <script type="text/javascript" src="/assets/js/tverio.js"></script>