<ul class="socials-nav">
  <!--<li class="socials-nav-item"><a href="#"><span class="fa fa-facebook"></span></a></li>-->
  <li class="socials-nav-item"><a href="https://vk.com/tverio" target="_blank"><span class="fa fa-vk"></span></a></li>
  <li class="socials-nav-item"><a href="https://twitter.com/tver_io" target="_blank"><span class="fa fa-twitter"></span></a></li>
  <li class="socials-nav-item"><a href="https://github.com/tverio" target="_blank"><span class="fa fa-github"></span></a></li>
  <li class="socials-nav-item"><a href="http://www.youtube.com/channel/UCQ5hUTc_nUdLJg65kXbKS1g" target="_blank"><span class="fa fa-youtube"></span></a></li>
  <!--<li class="socials-nav-item"><a href="https://plus.google.com/102810919564118651810/about" target="_blank"><span class="fa fa-google-plus"></span></a></li>-->
</ul>