<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>{{ title }}</title>
  {{>_meta}}
  {{>_favicons}}
  {{>_css}}
</head>
<body>
  {{>_metrica}}
  <section id="hero" class="hero-section bg1 bg-cover window-height light-text">
    {{>_social}}
    <div class="heading-block centered-block align-center">
      <div class="container">
        {{{ contents }}}
      </div>
    </div>
    <div style="position: absolute; bottom: 5px; right: 5px;">
      <div class="photo-copy">
        <span style="display: none;">
          <span class="icon-500px"></span>
          photo by <a style="color: rgb(255,255,255);" href="http://bit.ly/vsevolodov" target="_blank">M. Vsevolodov</a>
        </span>
      </div>
    </div>
  </section>
  <header class="header header-black">
    <div class="header-wrapper">
      <div class="container">
        <div class="col-sm-2 col-xs-12 navigation-header">
          <a href="#" class="logo">
            <img src="/assets/img/tverio.png" alt="tverio" width="119" height="17" class="retina-hide">
            <img src="/assets/img/tverio_402x.png" alt="tverio" width="119" height="17" class="retina-show">
          </a>
        </div>
      </div>
    </div>
  </header>
  {{>_js}}
</body>
</html>
